if SHIELD_COLLCORN_LEFT

config ZMK_KEYBOARD_NAME
    default "collcorn"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_COLLCORN_LEFT || SHIELD_COLLCORN_RIGHT

config ZMK_SPLIT
    default y

endif